[Unit]
Description=Collecteur de données pour Erabliere
After=network-online.target

[Service]
Type=simple

User=erabliere
Group=erabliere
WorkingDirectory=/home/erabliere/ErabliCollecteur
PIDFile=/home/erabliere/ErabliCollecteur/pid/app.pid
ExecStart=/home/erabliere/.nvm/versions/node/v14.21.3/bin/node /home/erabliere/ErabliCollecteur/app.js
Restart=on-abnormal
TimeoutSec=15

[Install]
WantedBy=multi-user.target
